In [144]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_selection import f_regression,f_classif
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler,OneHotEncoder,OrdinalEncoder, LabelEncoder

In [149]:
df=pd.read_csv('/content/adult_with_headers (1).csv')
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Handling missing values, Duplicates

In [150]:
df.shape

(32561, 15)

In [151]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [152]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [153]:
df.duplicated().sum()

np.int64(24)

In [154]:
df.drop_duplicates(inplace=True)

In [155]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

	Apply scaling techniques to numerical features:
a.	Standard Scaling   b. Min-Max Scaling

In [156]:
target=df[['income']]
features=df.drop(columns=['income'])

In [157]:
#Standard Scaling
std_sca=StandardScaler()
features[['age','education_num','hours_per_week']]=std_sca.fit_transform(features[['age','education_num','hours_per_week']])

In [158]:
#min-max scaling
min_max=MinMaxScaler()
features[['fnlwgt','capital_gain','capital_loss']]=min_max.fit_transform(features[['fnlwgt','capital_gain','capital_loss']])

In [159]:
features.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,0.030390,State-gov,0.044302,Bachelors,1.134777,Never-married,Adm-clerical,Not-in-family,White,Male,0.02174,0.0,-0.035664,United-States
1,0.836973,Self-emp-not-inc,0.048238,Bachelors,1.134777,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,-2.222483,United-States
2,-0.042936,Private,0.138113,HS-grad,-0.420679,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00000,0.0,-0.035664,United-States
3,1.056950,Private,0.151068,11th,-1.198407,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00000,0.0,-0.035664,United-States
4,-0.776193,Private,0.221488,Bachelors,1.134777,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00000,0.0,-0.035664,Cuba

	Discuss the scenarios where each scaling technique is preferred and why.

Standard Scaling is preferred for age,education_num, hours_per_week. because of normal distribution, Limited and Moderate range, more symmetric distribution.

min-max Scaling is preferred for fnlwgt,capital_gain,capital_loss.because of High Skewed, very large values, better to normalize to [0,1], very large outliers, Large Spikes

**2. Encoding Techniques:**

In [160]:
# one-hot encoding
features = pd.get_dummies(df, columns=['race', 'sex'],dtype=int)

In [161]:
# label Encoding
label_enc=LabelEncoder()
features[['workclass','relationship','marital_status', 'education', 'occupation', 'native_country']]=features[['workclass','relationship','marital_status', 'education', 'occupation', 'native_country']].apply(label_enc.fit_transform)

In [162]:
features.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,hours_per_week,native_country,income,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,39,7,77516,9,13,4,1,1,2174,0,40,39,<=50K,0,0,0,0,1,0,1
1,50,6,83311,9,13,2,4,0,0,0,13,39,<=50K,0,0,0,0,1,0,1
2,38,4,215646,11,9,0,6,1,0,0,40,39,<=50K,0,0,0,0,1,0,1
3,53,4,234721,1,7,2,6,0,0,0,40,39,<=50K,0,0,1,0,0,0,1
4,28,4,338409,9,13,2,10,5,0,0,40,5,<=50K,0,0,1,0,0,1,0

In [163]:
target=pd.get_dummies(target,dtype='int')

In [164]:
target

       income_ <=50K  income_ >50K
0                  1             0
1                  1             0
2                  1             0
3                  1             0
4                  1             0
...              ...           ...
32556              1             0
32557              0             1
32558              1             0
32559              1             0
32560              0             1

[32537 rows x 2 columns]

**Discuss the pros and cons of One-Hot Encoding and Label Encoding.**

One-Hot Encoding (OHE) : Transforms a categorical variable into multiple binary columns (0/1), one for each unique category.

Pros: No ordinal assumption, Works well with linear models

cons: High dimensionality, Multicollinearity

Label Encoding : Assigns each category a unique integer

pros: Space-efficient, Fast and simple

cons: Imposes artificial ordering, Can mislead linear models.

**Feature Engineering:**

	Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices

In [165]:
# 1.Net Capital
df["net_capital"] = df["capital_gain"] - df["capital_loss"]

Explanation : Instead of treating capital_gain and capital_loss separately, combining them into a single net capital feature provides a clearer signal of a persons financial activity.

In [166]:
# 2.Work Intensity
df["work_intensity"] = df["hours_per_week"] * df["education_num"]

Explanation : hours_per_week alone shows effort, while education_num reflects qualification level. Multiplying them captures the idea of educated effort: someone working long hours with higher education is more likely to earn >50K.

In [167]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,net_capital,work_intensity
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174,520
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0,169
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0,360
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0,280
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0,520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0,456
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0,360
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0,360
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0,180
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,15024,360

	Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

In [168]:
df["capital_loss_log"] = np.log1p(df["capital_loss"])

capital_loss - also right-skewed (again, mostly 0 with a few large spikes).

To reduce skewness, we can apply a log transformation. But since there are many zeros, we use log(1 + x) (also called log1p) to avoid log(0) issues.